In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from sklearn.neural_network import MLPClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.pipeline import make_pipeline

from sklearn.preprocessing import StandardScaler,PowerTransformer,MinMaxScaler,QuantileTransformer

from sklearn.feature_selection import VarianceThreshold, SelectKBest

from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import normalize

In [2]:
df = pd.read_csv('Datasets/Congressional_Voting/CongressionalVotingID.shuf.train.csv')
df = df.replace('n',1)
df = df.replace('y', 2)
df = df.replace('unknown', 0)
df.head()

X_test = pd.read_csv('Datasets/Congressional_Voting/CongressionalVotingID.shuf.test.csv').drop('ID', axis=1)
X_test.head()

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,y,y,y,n,y,y,y,y,n,y,y,n,n,n,y,unknown
1,n,y,n,y,y,y,n,n,n,n,n,y,unknown,unknown,n,unknown
2,y,n,y,n,n,n,y,n,y,y,y,n,n,n,y,y
3,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,y
4,n,n,y,n,n,y,y,y,y,y,y,n,n,n,unknown,y

In [ ]:
df.head()

In [ ]:
df

In [5]:
X_lrn = df.loc[:,'handicapped-infants':'export-administration-act-south-africa']
Y_lrn = df.loc[:,'class':'class']#.astype(float)
X_lrn

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,1,1,1,2,2,2,1,1,1,2,1,2,2,2,1,2
1,1,1,1,2,2,1,1,1,1,1,1,2,2,2,1,2
2,2,2,2,1,1,1,2,2,2,1,2,1,1,1,2,0
3,2,1,2,1,1,1,0,2,2,0,1,1,1,1,2,0
4,2,1,2,1,1,1,2,2,2,1,2,1,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2,2,2,1,2,2,1,2,1,1,2,1,2,1,2,2
214,2,2,2,2,2,2,2,2,1,2,1,1,2,2,1,2
215,1,1,1,2,2,2,1,1,1,1,1,2,2,2,1,1
216,1,2,1,2,2,2,2,1,1,1,1,2,2,2,1,2
217,1,2,2,2,2,2,2,1,2,2,1,2,2,2,1,2

In [6]:
X_train, X_valid, Y_train, Y_valid = train_test_split(X_lrn, Y_lrn, test_size=0.3)

In [ ]:
g_list = [10,20,30,40,100,200,300,400,500,600,1000]
for i in g_list:
    g = int(i)
    print(i)
    #clf = MLPClassifier(hidden_layer_sizes=(g,g,g,g,g,g,g,g,g,g,g,g,g,g),alpha=1,activation="relu",solver="adam")
    clf = MLPClassifier(hidden_layer_sizes=(g),alpha=1,activation="relu",solver="adam")
    #clf = MLPClassifier(hidden_layer_sizes=(g,g),alpha=1,activation="relu",solver="adam")
    #clf = MLPClassifier(hidden_layer_sizes=(500,500,500), max_iter=300, alpha=i,solver='sgd', verbose=10,  random_state=21,tol=0.000000001,activation=j)
    clf.fit(X_train, Y_train)
    Y_pred = clf.predict(X_valid)
    print(accuracy_score(Y_valid, Y_pred))

In [7]:
g = 200
clf = MLPClassifier(hidden_layer_sizes=(g),alpha=1,activation="relu",solver="adam")
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_valid)
print(accuracy_score(Y_valid, Y_pred))

0.9696969696969697

In [ ]:
Y_pred

In [ ]:
X_p

In [22]:
df_train = pd.read_csv('Datasets/Congressional_Voting/CongressionalVotingID.shuf.train.csv')
df_train = df_train.drop(["ID"], axis=1)
df_train = df.replace('n',1)
df_train = df.replace('y', 2)
df_train = df.replace('unknown', 0)
y = df_train["class"]
print(X.head())
X = df_train.drop(['class'], axis=1)

    ID  handicapped-infants  water-project-cost-sharing  \
0  134                    1                           1
1  224                    1                           1
2   32                    2                           2
3  171                    2                           1
4  333                    2                           1

   adoption-of-the-budget-resolution  physician-fee-freeze  el-salvador-aid  \
0                                  1                     2                2
1                                  1                     2                2
2                                  2                     1                1
3                                  2                     1                1
4                                  2                     1                1

   religious-groups-in-schools  anti-satellite-test-ban  \
0                            2                        1
1                            1                        1
2                            1                        2
3                            1                        0
4                            1                        2

   aid-to-nicaraguan-contras  mx-missile  immigration  \
0                          1           1            2
1                          1           1            1
2                          2           2            1
3                          2           2            0
4                          2           2            1

   synfuels-crporation-cutback  education-spending  superfund-right-to-sue  \
0                            1                   2                       2
1                            1                   2                       2
2                            2                   1                       1
3                            1                   1                       1
4                            2                   1                       1

   crime  duty-free-exports  export-administration-act-south-africa
0      2                  1                                       2
1      2                  1                                       2
2      1                  2                                       0
3      1                  2                                       0
4      1                  2                                       0

In [21]:
X

,ID,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,134,1,1,1,2,2,2,1,1,1,2,1,2,2,2,1,2
1,224,1,1,1,2,2,1,1,1,1,1,1,2,2,2,1,2
2,32,2,2,2,1,1,1,2,2,2,1,2,1,1,1,2,0
3,171,2,1,2,1,1,1,0,2,2,0,1,1,1,1,2,0
4,333,2,1,2,1,1,1,2,2,2,1,2,1,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,397,2,2,2,1,2,2,1,2,1,1,2,1,2,1,2,2
214,421,2,2,2,2,2,2,2,2,1,2,1,1,2,2,1,2
215,120,1,1,1,2,2,2,1,1,1,1,1,2,2,2,1,1
216,164,1,2,1,2,2,2,2,1,1,1,1,2,2,2,1,2
217,230,1,2,2,2,2,2,2,1,2,2,1,2,2,2,1,2

In [13]:
df_test = pd.read_csv('Datasets/Congressional_Voting/CongressionalVotingID.shuf.test.csv')
df_test = df_test.drop(["handicapped-infants"], axis=1)
df_test = df.replace('n',1)
df_test = df.replace('y', 2)
df_test = df.replace('unknown', 0)

In [14]:
df_test

,ID,class,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,134,republican,1,1,1,2,2,2,1,1,1,2,1,2,2,2,1,2
1,224,republican,1,1,1,2,2,1,1,1,1,1,1,2,2,2,1,2
2,32,democrat,2,2,2,1,1,1,2,2,2,1,2,1,1,1,2,0
3,171,democrat,2,1,2,1,1,1,0,2,2,0,1,1,1,1,2,0
4,333,democrat,2,1,2,1,1,1,2,2,2,1,2,1,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,397,democrat,2,2,2,1,2,2,1,2,1,1,2,1,2,1,2,2
214,421,republican,2,2,2,2,2,2,2,2,1,2,1,1,2,2,1,2
215,120,republican,1,1,1,2,2,2,1,1,1,1,1,2,2,2,1,1
216,164,republican,1,2,1,2,2,2,2,1,1,1,1,2,2,2,1,2
217,230,republican,1,2,2,2,2,2,2,1,2,2,1,2,2,2,1,2

In [ ]:
clf.fit(X,y)

In [ ]:
predicted = clf.predict(df_test)

In [ ]:
solution_data = list(zip(list(range(750,1500)), predicted))
solution_table = pd.DataFrame(solution_data, columns=['ID', 'Class'])
solution_table.head()
solution_table.to_csv(f"results/Amazon/SC_am_sol_2500.csv", index=False)